/* Record */


.add {
    color:#288828;
    font-style: italic;
}

.delete {
    text-decoration: line-through;
    color: #AA3232;
}

.underlined{
    text-decoration:underline;
}

.strike-through {
  
}

strong {
  font-weight: normal;
  text-transform: uppercase;
  font-size: .9rem;
}

/* line layouts */

li.centered {
    text-align: center;
}

li.speaker, li.speakerGroup {
    text-align: center;
    padding-top: 1.2em;
}

li.speakerGroup {
  margin-bottom: -1.6em;
}

li.attribution {
  text-align: right;
  list-style: none;
  padding: 0rem 1.5rem 0rem 2rem;
  margin: 0 0 20px 0; 
  color: #454545;
}

li.prose { 
  list-style-position: inside;
  margin-left: -1em;
  text-indent: 0;
}

li.prose-indent {
  text-indent: 2rem;
}

/* special */

hr.flourish { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
  margin: auto;
} 

hr.flourish:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

#broken {
  vertical-align: middle;
}